<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/jumbotron-narrow.css")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="headerContainer">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Home/Index">Расписание автобусов</a>
                        <button type="button" class="navbar-toggle navbar-left collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        @Html.Partial("_LoginPartial")
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
                    @Html.Action("Index", "Cities")
        </div>
        <div class="jumbotron">
            @RenderBody()
        </div>
        <hr />
    <footer>
        <div class="row">
            <div class="col-lg-9">
                <p class="text-muted">Брест 2015</p>
            </div>
            <div class="col-lg-3">
                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter" data-yashareTheme="counter"></div>

            </div>
            </div>
    </footer>
    </div> <!-- /container -->
    <img id="loadImg" src="~/Content/load.gif" />
    <div id="loadBackground"></div>
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Cities/CitiesIndex.js")
</body>
</html>
