@model Application.Models.Admin.DeleteBusRouteViewModel

@{
    ViewBag.Title = "Удалить маршрут";
}

<p class="bg-success">@TempData["Success"]</p>
<p class="bg-danger">@Html.ValidationSummary()</p>

<blockquote>
    <div class="row">
        <h3 id="News" class="Title text-left col-lg-9">Удалить маршруты</h3>
    </div>
    @using (Html.BeginForm("DeleteBusRoute", "Admin", FormMethod.Post))
    {
        <div class="input-group">
            <span class="input-group-addon">Выберите автобус</span>
            @Html.DropDownListFor(x => x.Bus, Model.Buses,"", new { @class = "form-control" })
        </div>
        <hr />
        <button type="submit" class="btn btn-primary">Удалить</button>
        @Html.HttpMethodOverride(HttpVerbs.Delete)
    }
</blockquote>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

