@{
    ViewBag.Title = "Index";
}
@section styles
{
    @Styles.Render("~/Content/AdminIndex.css")
}
<p class="bg-success">@TempData["Success"]</p>
<p class="bg-danger">@TempData["Erors"]</p>
<div class="linkContainer">
    <a href="@Url.Action("AddFromFile")"><blockquote> <h4 class="text-muted">Создать расписание из файла</h4> </blockquote></a>
    <a href="@Url.Action("AddBus")"><blockquote> <h4 class="text-muted">Добавить автобус</h4> </blockquote></a>
    <a href="@Url.Action("DeleteBus")"><blockquote> <h4 class="text-muted">Удалить автобус</h4> </blockquote></a>
    <a href="@Url.Action("AddStop")"><blockquote> <h4 class="text-muted">Добавить остановку</h4> </blockquote></a>
    <a href="@Url.Action("DeleteStop")"><blockquote> <h4 class="text-muted">Удалить остановку</h4> </blockquote></a>
    <a href="@Url.Action("AddBusRoute")"><blockquote> <h4 class="text-muted">Добавить маршрут</h4> </blockquote></a>
    <a href="@Url.Action("DeleteBusRoute")"><blockquote> <h4 class="text-muted">Удалить маршруты</h4> </blockquote></a>
    <a href="@Url.Action("AddShedule")"><blockquote> <h4 class="text-muted">Добавить расписание</h4> </blockquote></a>
    <a href="@Url.Action("DeleteShedule")"><blockquote> <h4 class="text-muted">Удалить расписание</h4> </blockquote></a>
    @using (Html.BeginForm("DeleteAll","Admin"))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="link"><blockquote> <h4 class="text-muted">Удалить все записи</h4> </blockquote></button>
        @Html.HttpMethodOverride(HttpVerbs.Delete)
    }
    <a href="@Url.Action("Users","AdminManage")"><blockquote> <h4 class="text-muted">Управление пользователями</h4> </blockquote></a>
    <a href="@Url.Action("List","Cities")"><blockquote> <h4 class="text-muted">Города</h4> </blockquote></a>
    <a href="@Url.Action("List","News")"><blockquote> <h4 class="text-muted">Новости</h4> </blockquote></a>
</div>

