@model IEnumerable<string>
@{
    ViewBag.Title = "Расписание автобусов г.Брест";
}

@section styles
{
    @Styles.Render("~/Content/Index.css")
}

<blockquote class="blockquote-reverse">
    <div class="row">
        <div class="col-sm-3">
            <h4 class="text-muted">Номер</h4>
            @Html.DropDownList("busNumber", new SelectList(Model), "", new { @class = "form-control", onchange = "selectNumber();" })
        </div>
        <div class="col-sm-3">
            <h4 class="text-muted">Остановка</h4>
            @Html.DropDownList("stopName", new SelectList(new List<string>()), "", new { @class = "form-control", onchange = " selectStop(); selectAll(); " })
        </div>
        <div class="col-sm-3">
            <h4 class="text-muted">Направление</h4>
            @Html.DropDownList("endStop", new SelectList(new List<string>()), "", new { @class = "form-control", onchange = "selectFinalStop(); selectAll(); " })
        </div>
        <div class="col-sm-3">
            <h4 class="text-muted">Дни</h4>
            @Html.DropDownList("days", new SelectList(new List<string>()), "", new { @class = "form-control", onchange = "selectAll();" })
        </div>
    </div>
</blockquote>
<hr />

<blockquote id="nearestTimeContainer" hidden>
    <div class="row">
        <h3>Ближайший рейс:</h3>
        <h3 id="nearestTime"></h3>
    </div>
</blockquote>

<blockquote class="blockquote-reverse" id="stopsContainer" hidden>
    <div class="row">
        <h3>Расписание:</h3>
        <h3 id="nodes"></h3>
    </div>
</blockquote>

<blockquote id="otherBusContainer" hidden>
    <div class="row">
        <h4>Другие автобусы на этой остановке:</h4>
        <h4 id="otherBuses"></h4>
    </div>
</blockquote>


@section Scripts
{
    @Scripts.Render("~/Scripts/Index.js")
}